<!doctype html>
<html lang="en">
<!-- Taxation is theft :) -->
<head>
{% block head %}
	<title>{{ site.title }}</title>
	<link rel="icon" href="{{ "{}{}".format(site.baseurl, "img/favicon.png") }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<meta charset="utf-8" />
	<meta name="description" content="{{ site.description }}" />
	<meta name="robots" content="index, follow" />
	<meta name="author" content="{{ site.author }}" />

	<meta property="og:type" content="profile" />
	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:url" content="{{ site.siteurl }}" />
	<meta property="og:site_name" content="{{ site.sitename }}" />
	<meta property="profile:first_name" content="{{ site.author.split(" ")[0] }}" />
	<meta property="profile:last_name" content="{{ site.author.split(" ")[-1] }}" />
	<meta property="og:image" content="{{ "{}{}".format(site.siteurl, "img/gdscript.png") }}" />
	
	<meta property="twitter:card" content="summary" />
	<meta property="twitter:site" content="{{ site.twitter }}" />
	<meta property="twitter:creator" content="{{ site.twitter }}" />
	<meta property="twitter:text:title" content="{{ site.title }}" />
	<meta property="twitter:description" content="{{ site.description }}" />
	<meta property="twitter:image" content="{{ "{}{}".format(site.siteurl, "img/gdscript.png") }}" />
	<script data-goatcounter="https://gdtumeospace.goatcounter.com/count"
	        async src="//gc.zgo.at/count.js"></script>
{% endblock %}
</head>

<body>
{% block content %}{% endblock %}
</body>
</html>
