
html, body {
	margin: 0;
	background-color: #2c4f8c;
}

h1 {
	background-color: #4f88ec;
	padding: 10px;
	margin: 0;
	color: white;
	font-family: monospace;
}

a {
	text-decoration: none;
	color: unset;
}

#version {
	position: absolute;
	right: 16px;
}

.editor.error-panel {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiIGhlaWdodD0iMTYiIHdpZHRoPSIxNiI+PGNpcmNsZSBjeD0iOCIgY3k9IjgiIHI9IjYiIGZpbGw9IiNGNkY2RjYiLz48cGF0aCBkPSJNOCAzQzUuMjM4IDMgMyA1LjIzOCAzIDhzMi4yMzggNSA1IDUgNS0yLjIzOCA1LTUtMi4yMzgtNS01LTV6bTMgN2wtMSAxLTItMi0yIDItMS0xIDItMi4wMjdMNSA2bDEtMSAyIDIgMi0yIDEgMS0yIDEuOTczTDExIDEweiIgZmlsbD0iI0U1MTQwMCIvPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xMSA2bC0xLTEtMiAyLTItMi0xIDEgMiAxLjk3M0w1IDEwbDEgMSAyLTIgMiAyIDEtMS0yLTIuMDI3eiIvPjwvc3ZnPg==) 50% no-repeat;
}

.editor.error-line {
	background: #301919;
}

.editor.container {
	width: 800px;
	height: 550px;
	border: 1px solid grey;
	position: absolute;
}

.editor.result {
	position: absolute;
	right: 10%;
	margin-top: 32px;
	background-color: #172642;
	color: lightgray;
	border: none;
	padding: 5px;
}

#console button {
	position: absolute;
	right: 10%;
}