
<head>
	<title>GDScript Playground</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<meta charset="utf-8">
	<meta name="description" content="A web implementation for the gdscript-cli wrapper.">
	<meta name="robots" content="index, follow">
	<meta name="author" content="William Tumeo">
	
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@tumeo_">
	<meta name="twitter:title" content="GDScript Playground">
	<meta name="twitter:description" content="A web implementation for the gdscript-cli wrapper.">

	<meta property="og:type" content="profile">
	<meta property="og:title" content="GDScript Playground">
	<meta property="og:url" content="https://gd.tumeo.space/">
	<meta property="profile:first_name" content="William">
	<meta property="profile:last_name" content="Tumeo">
	
	<link rel="stylesheet" type="text/css" href="/static/css/playground.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    
    <script src="/static/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/codemirror/theme/dracula.css">
    <link rel="stylesheet" href="/static/codemirror/theme/night.css">
    <script src="/static/codemirror/mode/gdscript/gdscript.js"></script>
    
    <script src="/static/js/lz-string.min.js"></script>
    <script src="/static/js/scripteditor.js"></script>
    <script src="/static/js/scriptoutput.js"></script>
</head>