
<head>
	<title>GDScript Playground 🤖</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<meta charset="utf-8" />
	<meta name="description" content="Try a script right now! Desktop or mobile web browser." />
	<meta name="robots" content="index, follow" />
	<meta name="author" content="William Tumeo" />

	<meta property="og:type" content="profile" />
	<meta property="og:title" content="GDScript Playground" />
	<meta property="og:url" content="https://gd.tumeo.space/" />
	<meta property="og:site_name" content="Tumeo Space" />
	<meta property="profile:first_name" content="William" />
	<meta property="profile:last_name" content="Tumeo" />
	<meta property="og:image" content="https://gd.tumeo.space/static/img/gdscript.png" />
	
	<meta property="twitter:card" content="summary" />
	<meta property="twitter:site" content="@tumeo_" />
	<meta property="twitter:creator" content="@tumeo_" />
	<meta property="twitter:text:title" content="GDScript Playground" />
	<meta property="twitter:description" content="Try a script right now! Desktop or mobile web browser." />
	<meta property="twitter:image" content="https://gd.tumeo.space/static/img/gdscript.png" />
	
	<link rel="stylesheet" type="text/css" href="/static/css/playground.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    
    <script src="/static/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/codemirror/theme/dracula.css">
    <link rel="stylesheet" href="/static/codemirror/theme/night.css">
    <script src="/static/codemirror/mode/gdscript/gdscript.js"></script>
    
    <script src="/static/js/lz-string.min.js"></script>
    <script src="/static/js/scripteditor.js"></script>
    <script src="/static/js/scriptoutput.js"></script>
    <script src="/static/js/snippets.js"></script>

</head>