{% load staticfiles %}

<!doctype html>
<html lang="en">
<!-- Taxation is theft :) -->

{% include "head.html" %}

<body>
    
    {% include "navbar.html" %}
    {% include "modal.html" %}
	<div class="container-fluid">
	   
	   <div class="container-fluid">
  <div class="row">
  
    <div class="col-sm">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active bg-dark" href="#" aria-disabled="false">Script</a>
            </li>
            <li class="nav-item"><a class="nav-link disabled" href="#" aria-disabled="true"></a></li>
            
            <li class="nav-item">
                <form id="run-script" action="/run.gd" method="post">
                    <button class="share btn btn-outline-info" type="button" data-toggle="modal" data-target="#ShareModal">Share</button>
                    {% csrf_token %}
                    <input type="hidden" name="script">
                    <input type="hidden" name="mode" value="script">
                    <button class="run-script btn btn-outline-success" type="submit" >Run</button>
                </form>
            </li>
        </ul>
        <div id="editor">
            
        </div>
    </div>
    
    <div class="col-sm">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active bg-dark" href="#" aria-disabled="false">Output</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" aria-disabled="true">Godot Engine v3.2-stable</a>
            </li>
        </ul>
        <div id="console">
            
        </div>

	   </div>
    </div>
  
	<small><a target="_blank" href="https://github.com/williamd1k0/gdscript-playground">＜Source-Code＞</a></small>
  </div>
</div>

</body>
</html>