var OUTPUT;

$(document).ready(function() {
	OUTPUT = CodeMirror(document.querySelector('#console'), {
		lineNumbers: false,
		indentUnit: 4,
		indentWithTabs: true,
		scrollbarStyle: 'null',
		readOnly: 'nocursor',
		theme: 'night',
		value: '',
		inputStyle: 'contenteditable',
	});
	
	$("form#run-script").on("submit", function(event) {
		event.preventDefault();
		OUTPUT.setValue('');
		var code = EDITOR.getValue();
		document.querySelector('input[name=code]').value = code;
		document.querySelector('#spinner').classList.add('active');
		$.get({
			url: this.action,
			headers: {
				'X-Require-Whisk-Auth': {{ site.gdscript_function.token | tojson }}
			}
		}, $(this).serialize(), function(result){
			document.querySelector('#spinner').classList.remove('active');
			switch(result.result) {
				case 'ok':
					var output = result.output.trim();
					if (!output) output = 'None';
					OUTPUT.setValue(output);
					break;
				case 'error':
					OUTPUT.setValue(result.message);
					show_error(result.line-1);
					throw new Error(result.error+': '+result.message, '<gdscript>', result.line);
				default:
					console.error('Unknown response.');
					console.error(result);
			}
		});
	});

	$.get({
		url: {{ site.version_function.url | tojson }},
		headers: {
			'X-Require-Whisk-Auth': {{ site.version_function.token | tojson }}
		}
	}, function(result) {
		document.querySelector("#godot-version").textContent = "v"+result;
		let versionsMenu = $("#menu-versions");
		let version_click_callback = function(version) {
			let dropdown = document.querySelector("#versions-dropdown");
			dropdown.textContent = version;
		};
		for (let ver of ["v3.5.1.stable.6fed1ffa3", "v4.0.beta.6fed1ffa3"]) {
			var a = document.createElement('a');
			a.href = '#';
			a.classList.add('dropdown-item');
			a.classList.add('bg-dark');
			a.textContent = ver;
			$(a).on('click', version_click_callback.bind(null, ver));
			versionsMenu.append(a);
		}
	});

});
