{% extends "layouts/base.html.j2" %}

{% block head %}
	{{ super() }}
	<script>
		// Compat: Redirect the old dynamic code route to main page
		var pathname = location.pathname.split('/');
		var code = pathname[pathname.length-1];
		pathname = location.pathname.replace(code, '?'+code);
		location.href = location.origin + pathname;
	</script>
{% endblock %}