{% extends "layouts/app.html.j2" %}

{% block content %}
	{{ super() }}
	{% include 'includes/navbar.html.j2' %}
	{% include 'includes/share-modal.html.j2' %}

	<div class="main-container">
		{% include 'includes/editors.html.j2' %}
		{% include 'includes/ads.html.j2' %}
	</div>
{% endblock %}
