

#editor, #console {
    font-size: 12px;
}

small a {
    position: fixed;
    bottom: 1%;
    left: 1%;
}

html, body {
    background-color: #181b1e !important;
}

.modal-content {
    background-color: #282a36 !important;
    color: white !important;
}

.modal-header {
    border-bottom: 1px solid #181b1e !important;
    background-color: #343a40 !important;
}

.modal-footer {
    border-top: 1px solid #181b1e !important;
    background-color: #343a40 !important;
}

.close, .dropdown-item {
    color: white !important;
}

.nav-tabs .nav-link.active {
    color: white !important;
    border-color: transparent !important;
}

.nav-tabs {
    border-bottom: 1px solid #343a40 !important;
}

.row {
    margin-top: 10px !important;
}

.break-word {
    word-wrap: break-word;
}

#spinner {
    visibility: hidden;
}
#spinner.active {
    visibility: visible;
}